.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: all ease 0.5s;
}

.headerTop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: row;
  padding: 0 4%;
  justify-content: space-between;
}

.headerTopRight {
  display: flex;
  flex-direction: row;
}

.headerBottom {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  transition: all ease 0.3s;
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 600;
}

.headerBottom a {
  padding: 12px;
}

.header li {
  display: inline;
  padding: 0 16px;
  transition: 0.2s ease;
  font-size: 0.9rem;
}

.headerTop ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.headerIcon {
  color: var(--color-primary);
  font-size: 18px;
  margin-left: 6px;
}

.wrapperInput {
  display: flex;
  margin: 12px 0;
  min-width: 300px;
  background-color: var(--color-white);
  align-items: center;
  padding-right: 12px;
  position: relative;
  justify-content: flex-end;
  border-radius: 3px;
}

.searchHeaderItem {
  display: none;
  /* visibility: hidden; */
}

.headerTopInput:focus {
  outline: solid;
  outline-width: 2px;
  outline-color: var(--color-primary);
}

.headerTopInput {
  position: absolute;
  top: 0;
  border-radius: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: outline-color 0.2s ease-out;
}

.headerTop li a {
  color: var(--color-white);
  display: flex;
}

.header li:hover {
  opacity: 0.6;
}

.logo {
  width: 30%;
}

@media (min-width: 768px) {
  .headerBottomScrolled {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  .headerBottom a svg {
    display: none;
  }
}

@media (max-width: 1440px) {
  .wrapperInput {
    display: none;
  }
}

@media (max-width: 768px) {
  .headerBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-black);
  }

  .headerBottom a {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    font-size: 0.7rem;
    text-transform: capitalize;
  }
  .headerBottom a svg {
    font-size: 18px;
    margin-bottom: 4px;
  }
}
