.topicsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 56px;
}

.topic {
  display: flex;
  flex-direction: column;
}

.topic a {
  color: var(--color-primary);
  font-size: 0.75rem;
  margin-top: 8px;
  transition: 0.2s ease;
}

.topic a:hover {
  opacity: 0.7;
}

.topicTitle {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.footer {
  background: #202020;
  padding: 2% 6% 70px;
}

.footer p {
  color: var(--color-light-gray);
  font-size: 0.8rem;
  text-align: center;
}

.footer p a {
  color: var(--color-primary);
}
