.topicsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 56px;
}

.topic {
  display: flex;
  flex-direction: column;
}

.topic a {
  color: #00a3d8;
  font-size: 0.75rem;
  margin-top: 8px;
}

.topicTitle {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 16px;
}

.footer {
  background: #202020;
  padding: 2% 6%;
}
